<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %} - Pinger</title>
{%block css%}
<link rel="stylesheet" type="text/css" media="all" href="/site_media/css/blueprint/screen.css" />
<link rel="stylesheet" type="text/css" media="all" href="/site_media/css/master.css" />
<!--[if IE]><link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
{%endblock%}
{%block extrastyle%}
{%endblock%}
</head>
<body>
    <div id="container" class='container'>
        <div id='header' class='span-24 column last'>
            {%block header%}
                {%include 'header.html'%}        
            {%endblock%}
        </div><!-- end of header -->
        <div id='content' class='span-24 column last'>
            <div id='ajax_status_header'></div>
            {%block content%}
            {%endblock%}
        </div><!-- end of content -->
        <div id='footer' class='span-24 column last'>
            {%block footer%}
                {%include 'footer.html'%}            
            {%endblock%}
        </div><!-- end of footer -->
    </div><!-- end of container -->
    <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
    {%block extrajs%}{%endblock%}
</body>
</html>